{% extends 'index.html' %}
{% block content %}


<main>
    <!-- ======================Bg-03 started====================== -->

    <section class="bg-03">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        <h2>Register Here</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">
                    <div class="wrapper">
                        <div class="content">
                            <div class="card col-lg-12">
                                <div class="card-body">
                                    <form method="POST" action="{% url 'add_online_member' %}">
                                        {% csrf_token %}
                                        
                                        <!-- <div class="form-group mb-3">
                                            <label for="id_first_name">First Name</label>
                                            <input type="text" class="form-control" name="first_name" id="first_name_id">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="id_last_name">Last Name</label>
                                            <input type="text" name="last_name" id="last_name_id" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="email">email</label>
                                             <input type="email" name="email" id="email_id" class="form-control">
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            <label for="id_phone_number">Phone Number</label>
                                            <input type="text" name="phone_number" id="phone_number_id" class="form-control" placeholder="start with country code"> 
                                           
                                        </div>
                                       
                                    
                                        <div class="form-group">
                                        <label for="id_gender">Gender:</label>
                                        <select name="gender" id="id_gender" class="form-control">
                                            <option value="NOT_SPECIFIED">Not Specified</option>
                                            {% for choice in gender_choices %}
                                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>

                                        <div class="form-group"> -->
                                            <!-- <label for="id_country">Country</label>
                                            <select name="country" input_id="id_country" id="id_country" class="form-control">
                                                <option value="">(select country)</option>
                                                {% for code, name in country_choices.items %}
                                                    <option value="{{ code }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> -->
                                          {{ form.as_p }}</br>
                                        <button class="btn btn-primary" type="submit" >Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======================Bg-02====================== -->

    <section class="bg-02">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>Recent Causes</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                It has survived not only five centuries.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/causes/1.jpg">
              </figure>
              <div class="bs">
                <h3>First charity activity of this summer.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint vero 
                  dignissimos hic blanditiis neque. Distinctio dolorem eveniet nesciunt ipsum 
                  </p>
                  <ol>
                    <li><i class="fal fa-signal"></i>Goal: $450000</li>
                    <li><i class="fal fa-thumbs-up"></i>Raised: $55000</li>
                  </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/causes/2.jpg">
              </figure>
              <div class="bs">
                <h3>Building clean-water system for rural poor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint vero
                  dignissimos hic blanditiis neque. Distinctio dolorem eveniet nesciunt ipsum
                </p>
                <ol>
                  <li><i class="fal fa-signal"></i>Goal: $450000</li>
                  <li><i class="fal fa-thumbs-up"></i>Raised: $55000</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/causes/3.jpg">
              </figure>
              <div class="bs">
                <h3>Big charity: build school for poor children.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint vero
                  dignissimos hic blanditiis neque. Distinctio dolorem eveniet nesciunt ipsum
                </p>
                <ol>
                  <li><i class="fal fa-signal"></i>Goal: $450000</li>
                  <li><i class="fal fa-thumbs-up"></i>Raised: $55000</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/causes/1.jpg">
              </figure>
              <div class="bs">
                <h3>First charity activity of this summer.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint vero
                  dignissimos hic blanditiis neque. Distinctio dolorem eveniet nesciunt ipsum
                </p>
                <ol>
                  <li><i class="fal fa-signal"></i>Goal: $450000</li>
                  <li><i class="fal fa-thumbs-up"></i>Raised: $55000</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>

{% endblock %}
